.main-content {
    background-color: $milky-white-darker-color;
}
body {
    margin: 0px;
}
h1 {
    font-family: $title-font;
    font-size: $title-font-size-xl !important;
    display: block;
}
h2 {
    font-family: $title-font-h2;
    font-size: $title-font-size-md;
    font-weight: 900;
    display: block;
    margin: 10px 0px;
}
h3 {
    font-family: $title-font-h2;
    font-size: $title-font-size-xs;
    font-weight: 800;
    text-align: left;
    display: block;
    color: $eighties-purple-darker;
    margin: 10px 0px;
}
h4 {
    font-family: $title-font-h2;
    font-size: $title-font-size-xs;
    font-weight: 800;
    text-align: center;
    color: $charcoal-darker-color;
}
p {
    font-family: $text-font;
    font-size: $title-font-size-xs;
    margin: 10px 0px;
}
.page-title {
    display: block;
    font-family: $title-font;
    font-size: $title-font-size-xl;
    margin-bottom: 0.6rem;
    text-transform: lowercase;
    &::first-letter {
        text-transform: uppercase;
    }
}