.carousel-image-common {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0px 150px;
    .carousel-component {
        height: 600px;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: space-between;
        .carousel-description {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: start;
            flex-wrap: wrap;
            width: 30%;

            .carousel-description-box {
                display: flex;
                flex-direction: column;
                width: 70%;

                h2 {
                    text-align: left;
                }

                .carousel-publication-origin {
                    text-align: left;
                    color: $charcoal-color;
                    font-style: italic;
                    margin: 16px 0px;
                    display: flex;
                    justify-content: space-between;
                }

                p {
                    text-align: justify;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    line-break: anywhere;
                    width: 100%;
                    font-size: larger;
                }
            }
        }

        .carousel-box {
            height: 100%;
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            position: relative;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            .carousel-button {
                position: absolute;
                border: none;
                cursor: pointer;
                z-index: 1;
    
                &.left {
                    left: 0px;
                }
                &.right {
                    right: 0px;
                }
            }
        }
        .carousel-button {
            display: unset;
        }
    }
    @media (max-width: $lg) {
        padding: 30px;
        height: 70vh;

        .carousel-component {
            height: 100%;
            flex-direction: column-reverse;
            align-items: center;

            .carousel-description {
                align-content: center;
                width: 100%;
                height: 30%;
                .carousel-description-box {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    p {
                        margin: 5px 0px;
                        font-size: 14px;
                    }
                    .carousel-publication-origin {
                        width: 100%;
                        justify-content: space-between;
                        margin: 10px 0px;
                    }
                }
                a {
                    margin: 0px;
                }
            }
    
            .carousel-box {
                height: 70%;
                width: 100%;
            }
        }
        .carousel-button {
            display: unset;
        }
    }
    @media (max-width: $mobile) {
        .carousel-component {
            .carousel-description {
                .carousel-description-box {
                    h2 {
                        font-size: $title-font-size-xs;
                    }
                }
            }
            .carousel-box {
                overflow: visible;
                .card.prev, .card.next {
                    display: none;
                }
                .card.current {
                    flex: 0 0 85%;
                }
                .carousel-button {
                    display: flex;
                    font-size: $title-font-size-sm;
                    &.right {
                        right: -10px;
                    }
                    &.left {
                        left: -10px;
                    }
                }
            }
        }
    }
}

.custom-carousel-container {
    display: flex;
    width: 100%;
    height: 600px;
    padding: 10px;

    .custom-carousel-body {
        height: 100%;
        width: 100%;
        display: flex;
        padding: 10px 40px;
        background-color: $milky-white-color;
        box-shadow: $box-shadow-light;
        border-radius: $border-radius-md;

        .custom-carousel-content {
            width: 100%;
            height: 100%;
        }

        .custom-carousel-image {
            background-color: $eighties-purple;
            padding: 0px 20px;
            width: 100%;
            height: 100%;
            background-image: url("/toi_meme_logo.png");
            @extend .carousel-image-common;
        }
    }
}
