.carousel-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0px 50px;
    h1 {
        color: $charcoal-color;
        margin: 20px 0px;
    }
    .carousel-component {
        height: 600px;
        width: 100%;
        display: flex;
        position: relative;
        .carousel-description {
            h1 {
                text-align: left;
            }
            .carousel-publication-origin {
                text-align: left;
                color: $charcoal-color;
                font-style: italic;
                margin: 16px 0px;
                display: flex;
                justify-content: space-between;
            }
            p {
                text-align: justify;
                display: -webkit-box;
                -webkit-box-orient:vertical;
                line-break: anywhere;
                width: 50%;
                font-size: larger;
            }
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            width: 40%;
        }
        .carousel-box {
            height: 100%;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            scroll-snap-type: x mandatory;
            position: relative;
        }
        .carousel-buttons {
            display: flex;
            position: absolute;
            right: 0px;
            width: 60%;
            height: 100%;
            .carousel-button {
                height: 100%;
                width: 30%;
                position: absolute;
                opacity: 0;
                border: none;
                cursor: pointer;
                z-index: 1;
                &.left {
                    left: 0px;
                }
                &.right {
                    right: 0px;
                }
            }
        }
    }
}
