.content-container {
    height: 40vh;
    width: 100%;
    padding: 0px 150px;
    display: flex;
    justify-content: center;
    text-align: justify;
    .content-description {
        h1 {
            padding: 0px;
        }
        height: 80%;
        width: 100%;
        border-radius: $border-radius-md;
        p {
            margin: 40px 0px;
        }
    }
    @media (max-width: $lg) {
        padding: 30px;
    }
    @media (max-width: $md) {
        height: 50vh;
    }
}