.hero-section.loaded {
    background-image: linear-gradient(#00000080, rgba(0, 0, 0, 0.5)), url("/photo_anne7.jpg");
    opacity: 1; /* Final state for the fade-in effect */
}
.hero-section {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 2.5s ease, transform 1s ease;
    h1{
        font-size: 60px !important;
        color: #fff;
        margin-bottom: 16px;
        -webkit-text-stroke-width: 1px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 55px;
    position: relative;
    color: white;
    justify-content: left;
    width: 100%;
    h1 {
        font-size: 60px !important;
        /*font-family: The Antiqua B,Georgia,Droid-serif,serif;
        margin-bottom: 16px;
        -webkit-text-stroke-width: 1px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        -webkit-text-stroke-color: $charcoal-color;
        */
    }
}

.hero-biography {
    width: 50%;
    position: relative;
    p {
        font-weight: bold;
        text-align: justify;
        color: $milky-white-color;
        font-size: 20px;
    }
}

.hero-image {
    display: flex;
    width: 30%;
    justify-content: center;
}
.journalist-portrait {
    width: 50%;  /* Adjust size as needed */
    height: auto;
    //margin-top: 20px;
    border-radius: 50%; /* Optional: Make the image circular */
}
