.hero-mask{
    background-color: black;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}
.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.1)), url("/photo_anne7.jpg");
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 2.5s ease, transform 1s ease;
    .hero-content {
        margin: 10% 0%;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        width: 100%;
        h1 {
            font-size: 90px !important;
            color: $milky-white-color;
        }
        .hero-biography {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            position: relative;
            .hero-flip-word {
                font-weight: bold;
                color: $milky-white-color;
                font-size: 36px;
            }
            p {
                text-align: justify;
                color: $milky-white-color;
                font-size: 20px;
            }
        }
    }
}