.hero-section {
    background-image: url('/path/to/your/image.jpg');
    background-size: cover;
    background-position: center;
    background: rgb(159,28,28);
    background: radial-gradient(circle, rgba(159,28,28,1) 0%, rgba(229,27,16,1) 86%);
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: white;
    h1 {
        font-size: 60px !important;
        font-family: The Antiqua B,Georgia,Droid-serif,serif;
        margin-bottom: 16px;
        -webkit-text-stroke-width: 1px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        -webkit-text-stroke-color: $charcoal-color;
    }
    p {
        margin-bottom: 24px;
    }
}
